<div>
  <el-table :data="roleData" style="width: 100%">
    <!-- 点击展开角色信息 -->
    <el-table-column type="expand">
      <template slot-scope="scope">
        <!-- eslint-disable   -->
        <!-- 第一层 -->
        <el-row
          v-for="item1 of scope.row.children"
          :key="item1.id"
          class="rowall"
        >
          <el-col :span="4" class="row1">
            <el-tag closable>{{ item1.authName }}</el-tag>
          </el-col>
          <el-col :span="20">
            <!-- 第二层 -->
            <el-row v-for="item2 of item1.children" :key="item2.id">
              <el-col :span="4">
                <el-tag type="success" closable class="row2">{{
                  item2.authName
                }}</el-tag>
              </el-col>
              <el-col :span="20">
                <!-- 第三层 -->
                <el-tag
                  class="row3"
                  type="warning"
                  v-for="item3 of item2.children"
                  :key="item3.id"
                  closable
                  >{{ item3.authName }}</el-tag
                >
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </template>
    </el-table-column>
    <el-table-column type="index" :index="indexMethod"></el-table-column>
    <el-table-column
      prop="roleName"
      label="角色名称"
      width="180"
    ></el-table-column>
    <el-table-column prop="roleDesc" label="描述" width="180"></el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button
          type="primary"
          icon="el-icon-edit"
          size="mini"
          plain
        ></el-button>
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          plain
        ></el-button>
        <!-- 展开分配权限 -->
        <el-button
          type="success"
          icon="el-icon-check"
          size="mini"
          plain
          @click="distribution(scope.row)"
          >分配权限</el-button
        >
      </template>
    </el-table-column>
  </el-table>
  <!-- 角色授权框 -->
  <el-dialog title="角色授权" :visible.sync="dialogVisible">
    <!-- 树状图 -->
    <el-tree
      :data="treeData"
      show-checkbox
      node-key="id"
      :default-expand-all="true"
      :props="defaultProps"
      ref="tree"
    >
    </el-tree>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="changeRolsList">确 定</el-button>
    </span>
  </el-dialog>
</div>
